.visuals {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem; 
    grid-template-areas: 
    "lineGraph lineGraph"
    "pieChart barChart";
    margin: 15px, 30px;
}

.lineGraph { 
    grid-area: lineGraph;
}

.pieChart { 
    grid-area: pieChart; 
}

.barChart { 
    grid-area: barChart; 
}
