.visuals {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem; 
    grid-template-areas: 
    "lineGraph lineGraph"
    "pieChart barChart";
    margin: 5px, 15px;
}

.lineGraph { 
    grid-area: lineGraph;
    background-color: #172141;
}

.pieChart { 
    grid-area: pieChart; 
    background-color: #172141;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
}

.barChart { 
    grid-area: barChart; 
    background-color: #172141;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
}

.dropDown {
    background-color: #172141;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    margin: 5px 0px;
    border: none;
}