table{
    border-collapse: separate;
    border-spacing: 0 1rem;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.25rem;
}
th{
    text-align: left;
    font-weight: 300;
}

th, td{
    padding: 1rem;
}

td{
    background-color: var(--background-clr-lighter);
    border: solid 1px var(--background-clr-lighter);
}

td:first-child{
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
}

td:last-child {
    border-bottom-right-radius: 15px; 
    border-top-right-radius: 15px; 
}