#balance {
    background-color: #172141;
    color: #FFFFFF;
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    justify-items: stretch;
}

#currencyLabel {
    font-size: 20px;
    font-weight: 400;
    /* padding-bottom: 5px; */
}
#amountLabel {
    font-size: 40px;
    font-weight: bold;
}

#balance:focus {
    border-color: #DFA616;
}

.balanceButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

#navbutton {
    background-color: #172141;
    color: #FFFFFF;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

    justify-items: stretch;
}
#navLabel {
    font-size: 15px;
}
.navButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 30px 100px;
}