#root {
  --dark-blue: #0B1432;
  --medium-blue: #172964;
  --light-blue: #1E3685;
  --lighter-blue: #2A4BB7;
  --lightest-blue: #355DD4;
  --dark-yellow: #DFA616;
  --medium-yellow: #EBB733;
  --light-yellow: #EEC458;
  --lighter-yellow: #F4D890;
  --lightest-yellow: #F8E5B5;
  --white: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto;
}
