/* Global CSS that applies to the entire application */

:root {
  --dark-blue: #0B1432;
  --medium-blue: #172964;
  --light-blue: #1E3685;
  --lighter-blue: #2A4BB7;
  --lightest-blue: #355DD4;
  --dark-yellow: #DFA616;
  --medium-yellow: #EBB733;
  --light-yellow: #EEC458;
  --lighter-yellow: #F4D890;
  --lightest-yellow: #F8E5B5;
  --white: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  /* Light */
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  /* Regular */
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  /* Semi Bold */
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500; 
}

@font-face {
  /* Bold */
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

/* CSS Reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/#seven-word-wrapping-8 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-background-clr);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; 
}

input, button, textarea, select {
  font: inherit;
}