.payment-form {
  background-color: #0b132b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}

.back-button {
  background: none;
  border: 1px solid #dfa616;
  border-radius: 20px;
  color: #dfa616;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 20px;
}

/* h1 {
  text-align: center;
  margin-bottom: 20px;
} */

.currency-selection {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
}

.currency-button {
  background-color: #1c2541;
  border: 1px solid #dfa616;
  color: #dfa616;
  padding: 20px; /* Increase padding for larger buttons */
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px; /* Increase font size */
  flex: 1;
}

.currency-button.selected {
  background-color: #dfa616;
  color: var(--white);
  font-weight: bold;
}

.form-details {
  /* width: 80%; */
  margin-bottom: 20px;
  /* margin: 10px auto; */
}

/* .form-details p {
  margin-bottom: 10px;
} */

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dfa616;
  border-radius: 5px;
  background-color: #1c2541;
  color: white;
}

.amount-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Add a gap between the fields */
}

.amount-category .input-container {
  flex: 1;
}

.amount-category .input-container_2{
  flex: 2;
}

.proceed-button {
  background-color: #dfa616;
  border: none;
  color: #1c2541;
  padding: 15 px 30px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-size: 18px;
  width: 80%;
  text-align: center;
}

.amount-input {
  position: relative;
}


.amount-input input {
  padding-right: 50px; /* Make space for the currency unit */
}

.amount-input .currency-unit {
  position: absolute;
  top: 70%;
  font-weight: bold;
  right: 10px;
  transform: translateY(-50%);
  color: var(--dark-yellow);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
}

.dropdownContainer{
  margin-top: 1rem;
}

.error {
  color: #B90202;
}