/* FormTitle.css */

.form-title-center {
    color: var(--white); /* Assuming you've set up your color variables */
    text-align: center;
    padding-top: 20px; 
    margin-bottom: 20px; /* or any other value based on your design */
    /* Add more styling as needed */
  }

  .form-title-left {
    color: var(--white); /* Assuming you've set up your color variables */
    text-align: left;
    padding-top: 20px; 
    margin-bottom: 20px; /* or any other value based on your design */
    /* Add more styling as needed */
  }

  .form-title-right {
    color: var(--white); /* Assuming you've set up your color variables */
    text-align: right;
    padding-top: 20px; 
    margin-bottom: 20px; /* or any other value based on your design */
    /* Add more styling as needed */
  }
  